.page-header h1 a {
    color: #FCA205;
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 26pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    margin-bottom: 30px;
}


.content h2 a, .content h2 a:visited {
    color: #828282;
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
}

.content th, td {border: 1px }
table {border: 3px}


.content-form textarea, .content-form input {
    width: 100%;
}

.top-menu, .top-menu:visited {
    color: #828282;
    font-size: 20pt;
    margin-right: 20px;
}
.settings {
    color: #828282;
    font-size: 18pt;
    float-right;
}
.lines {
    color: #828282;
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
}


