h1 a {
    color: #FCA205;
}
h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    margin-bottom: 50px;
}


.content h1 a, .content h1 a:visited {
    color: #000000;

}

th, td {border: 1px }
table {border: 3px}


.date {
    color: #828282;
}

.save {
    float: right;
}



.content-form textarea, .content-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #828282;
    font-size: 26pt;
    margin-right: 20px;
}
.settings {
    color: #828282;
    font-size: 26pt;
    float-right;
}


