{% load static %}
<html>
    <head>
        <title>Кошелек</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/purse_app.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h1><a href="/">Кошелек</a></h1>
                </div>
                <div class="col-md-4">
                    {% if user.is_authenticated %}
                        Hello, {{ user.username }} (<a href="{% url 'logout' %}">Log out</a>)
                    {% else %}
                        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                    {% endif %}
                </div>


            </div>
         </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>


    </body>
</html>