{% load static %}
<html>
    <head>
        <title>Кошелек</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/purse_app.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="page-header">

            <h1><a href="/">Кошелек</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="align-self-end">
                    <a href="{% url 'settings' %}" class="top-menu">
                        <span class="glyphicon glyphicon-cog"></span> Настройки
                    </a>
                </div>
            </div>
        </div>

    </body>
</html>