{% extends 'purse_app/base.html' %}

{% block content %}

    <a href="{% url 'new_income' %}" class="top-menu">
        <span class="glyphicon glyphicon-plus"></span> Новая накладная
    </a>
    <br>
    <table class="table">
    {% for i in incomes %}

            <tr class="table">
                <td>{{ i.date }}</td>
                <td>{{ i.line|linebreaksbr }}</td>
                <td>{{ i.amount|linebreaksbr }}</td>
                <td>{{ i.comment|linebreaksbr }}</td>
                {% if i.debit_name %}
                    <td>{{ i.debit_name|linebreaksbr }}</td>
                {% else %}
                    <td> </td>
                {% endif %}
                <td>
                    <a class="btn btn-default" href="{% url 'income_edit' pk=i.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td>
                    <a class="btn btn-default" href="{% url 'income_remove' pk=i.pk %}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>

    {% endfor %}
    </table>
{% endblock %}