{% extends 'purse_app/base.html' %}

{% block content %}

    <a href="{% url 'new_purchase' %}" class="top-menu">
        <span class="glyphicon glyphicon-plus"> Новая накладная</span>
    </a>
    <br>
    <table class="table">
    {% for p in purchases %}

            <tr class="table">
                <td>{{ p.date }}</td>
                <td>{{ p.budget_line_id|linebreaksbr }}</td>
                <td>{{ p.amount|linebreaksbr }}</td>
                <td>{{ p.comment|linebreaksbr }}</td>
                <td>
                    <a class="btn btn-default" href="{% url 'purchase_edit' pk=p.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>

    {% endfor %}
    </table>
{% endblock %}