{% extends 'purse_app/base.html' %}

{% block content %}

    <a href="{% url 'new_purchase' %}" class="top-menu">
        <span class="glyphicon glyphicon-plus"> Новая накладная</span>
    </a>
    <br>
    <table class="table">
    {% for p in purchases %}

            <tr class="table">
                <td>{{ p.date }}</td>
                <td>{{ p.line|linebreaksbr }}</td>
                <td>{{ p.amount|linebreaksbr }}</td>
                <td>{{ p.comment|linebreaksbr }}</td>

                {% if p.credit_name %}
                    <td>{{ p.credit_name|linebreaksbr }}</td>
                {% else %}
                    <td> </td>
                {% endif %}
                {% if p.debit_name %}
                    <td>{{ p.debit_name|linebreaksbr }}</td>
                {% else %}
                    <td> </td>
                {% endif %}

                <td>
                    <a class="btn btn-default" href="{% url 'purchase_edit' pk=p.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td>
                    <a class="btn btn-default" href="{% url 'purchase_remove' pk=p.pk %}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>

    {% endfor %}
    </table>
{% endblock %}