{% extends 'purse_app/base.html' %}

{% block content %}

    <div class="content">
        <h2><a href="{% url 'summary_settings' %}">Первоначальные финансовые настройки</a></h2>
        <p>Устанавливается начальная точка для старта учета наличных денег, учета моих кредитов и депозитов</p>
    </div>

    <div class="content">
        <h2><a href="{% url 'purchase_bl' %}">Статьи расходов</a></h2>
        <p>Тут можно завести новые статьи расходов. Статьи должны быть уникальными</p>
    </div>

    <div class="content">
        <h2><a href="{% url 'income_bl' %}">Статьи доходов</a></h2>
        <p>Тут можно завести новые статьи доходов. Статьи должны быть уникальными</p>
    </div>

{% endblock %}