{% extends 'purse_app/base.html' %}

{% block content %}

    <div class="content">
        <h2><a href="">Доходы</a></h2>
        <p>Открыть страницу для внесения нового дохода, либо для просмотра последних приходных накладных</p>
    </div>

    <div class="content">
        <h2><a href="">Расходы</a></h2>
        <p>Открыть страницу для внесения нового расхода, либо для просмотра последних расходных накладных</p>
    </div>
    <div class="content">
        <h2><a href="">Мне должны</a></h2>
        <p>Открыть страницу для работы с депозитами, дебетовыми картами и долгами</p>
    </div>

    <div class="content">
        <h2><a href="">Я должен</a></h2>
        <p>Открыть страницу для работы с моими кредитами и кредитными картами</p>
    </div>

    <div class="content">
        <h2><a href="">Статистика</a></h2>
        <p>Открыть просмотр статистики</p>
    </div>
{% endblock %}